.header {
  position: relative;
  top: 0;
  border: 5px solid #53abee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__logo {
    height: 150px;
  }
  &__title {
    display: none;
  }
}
.main {
  position: relative;
  padding: 25px;
  height: auto;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgb(172, 238, 183),
    rgb(54, 143, 202)
  );
}

.footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 25px;
  background-color: rgb(54, 143, 202);
  &__text {
    font-family: "Handlee", cursive;
    text-align: left;
    font-size: 12px;
  }
}
.fa-laugh {
  color: yellow;
}
